/* ======== FONTS ======== */

/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/lato-v17-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/lato-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v17-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v17-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v17-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/lato-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v17-latin-900.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v17-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}



/* ======== /END/ FONTS ======== */



body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.padding-site {
    padding: 0 230px;
    box-sizing: border-box;
}

.container {
    width: 1600px;
    margin: 0 auto;
}



/* ======== HEADER STYLE ======== */

.page-header {
    width: 100%;
    box-sizing: border-box;
    background-color: #F1E4E6;
    padding: 0;
    margin: 0;
}

.page-header-wrp {
    background-color: #222;

    padding: 18px 230px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}

.page-header-logo {
    display: block;
    margin: 0 41px 0 0;
    height: 38px;
}

.page-header-search {
    box-sizing: border-box;
    display: flex;
    flex-grow: 2;
}

#page-header-search-switcher {
    display: none;
}

#page-header-search-switcher:checked ~ .page-header-search-input {
    display: none;
}


.page-header-search-ico {
    display: block;
    cursor: pointer;
    margin: 0 10px 0 0;
    height: 28px;
    fill: #E8E8E8;
}


.page-header-search-ico:hover {
    fill: #F16D7F;
}

.page-header-search-ico:active {
    fill: greenyellow;
}

.page-header-search-input {
    min-height: 20px;
    width: 80%;
}

.page-header-btn-wrp {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.page-header-menu {
    margin: 0 33px 0 0;
    padding: 0 0 0 0;
    height: 23px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    fill: #E8E8E8;
}

.page-header-menu:hover {
    fill: #F16D7F;
}

.page-header-menu:active {
    fill: greenyellow;
}

.page-header-account {
    display: block;
    padding: 0 0 0 0;
    margin: 0 33px 0 0;
    height: 29px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    fill: #E8E8E8;
}

.page-header-account:hover {
    fill: #F16D7F;
}

.page-header-account:active {
    fill: greenyellow;
}

.page-header-basket {
    padding: 0;
    height: 37px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.page-header-basket-ico path:first-child, .page-header-basket-ico:last-child {
    fill: #E8E8E8;
}

.page-header-basket-ico path:nth-child(2) {
    fill: #F16D7F;
}

.page-header-basket:hover path:first-child {
    fill: #F16D7F;
}

.page-header-basket:active path {
    fill: greenyellow;
}

.page-header-banner {
    display: flex;
    background-color: #F1E4E6;
    justify-content: space-between;
    align-items: center;
    padding: 59px 230px;
}

.page-header-banner-title {
    display: block;
    font-size: 24px;
    color: #F16D7F;
    text-transform: uppercase;
}

.page-header-banner-breadcrumbs {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.page-header-banner-breadcrumbs-list {
    margin: 0 10px 0 0;
}

.page-header-banner-breadcrumbs-list:last-child {
    margin: 0;
}

.page-header-banner-breadcrumbs-list a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    color: #636363;
    border-bottom: 1px solid transparent;
}

.page-header-banner-breadcrumbs-list a:hover {
    border-bottom: 1px solid #636363;
}

.page-header-banner-breadcrumbs-list span {
    font-weight: bold;
    font-size: 14px;
    color: #F16D7F;
    text-transform: uppercase;
}

/* ======== *END* HEADER STYLE ======== */



/* ======== CATALOG STYLE ======== */

.catalog {
   margin: 51px 0 0 0;
}

.catalog-btn-wrp {
    display: flex;
}

.catalog-btn {
    margin: 0 28px 0 0;
    padding: 8px;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
}

.catalog-btn span {
    margin: 0 11px 0 0;
}

.catalog-btn:hover {
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.catalog-btn:active {
    box-shadow: none;
}

.catalog-btn-filter {
    margin: 0 290px 0 0;
    font-weight: 700;
}

.catalog-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-products-item {
    position: relative;
    margin: 48px 0 0 0;
    padding: 0 0 20px 0;
    width: 360px;
}

.catalog-products-item:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 420px;
    background-color: transparent;
}

.catalog-products-item:hover:before {
    background: rgba(58, 56, 56, 0.86);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);

}

.catalog-products-item:hover .catalog-products-item-btn {
    display: flex;
}

.catalog-products-item-btn {
    position: absolute;
    top: 187px; left: 110px;
    padding: 11px 16px 9px 14px;
    display: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    outline: none;
    align-items: center;
    background-color: transparent;
}

.catalog-products-item-btn:hover {
    background-color: #F16D7F;
}

.catalog-products-item-btn:active {
    background-color: #222224;
}

.catalog-products-item-btn svg {
    fill: #FFFFFF;
}

.catalog-products-item-btn-txt {
    margin: 0 0 0 11px;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.catalog-products-item-link {
    text-decoration: none;
}

.catalog-products-item-img {
    display: block;
}

.catalog-products-item-title {
    display: block;
    margin: 22px 17px 0 17px;
    font-weight: normal;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
}

.catalog-products-item-txt {
    display: block;
    margin: 12px 17px 0 17px;
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
}

.catalog-products-item-price {
    display: block;
    margin: 18px 17px 0 17px;
    font-weight: normal;
    font-size: 16px;
    color: #F16D7F;
}

.catalog-products-pages {
    margin: 48px 420px 96px 420px;
    padding: 15px 16px;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
}

.catalog-products-pages-list:first-child, .catalog-products-pages-list:last-child {
    fill: black;
}

.catalog-products-pages-list:first-child:hover, .catalog-products-pages-list:last-child:hover {
    fill: white;
}

.catalog-products-pages-btn {
    margin: 0;
    padding: 2px;
    border: 1px solid transparent;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    font-weight: 300;
    font-size: 16px;
    color: #C4C4C4;
    cursor: pointer;
}

.catalog-products-pages-btn:hover {
    color: #222224;
    background-color: #F16D7F;
    border-radius: 6px;
}

.catalog-products-pages-btn:active {
    background-color: greenyellow;
}

.catalog-products-pages-btn-active {
    color: #EF5B70;
}

/* ======== *END* CATALOG STYLE ======== */



/* ======== FEATURES STYLE ======== */

.features {
    margin: 47px 0 0 0;
    display: flex;
    justify-content: space-between;
    padding: 104px 230px;
    background-color: #222224;
}

.features-item {
    width: 360px;
}

.features-item-icon {
    display: block;
    margin: 0 auto;
    height: 40px;
    fill: #F16D7F;
    text-align: center;
}

.features-item-title {
    display: block;
    margin: 19px 0 0 0;
    font-size: 20px;
    color: #FBFBFB;
    text-transform: capitalize;
    text-align: center;
}

.features-item-txt {
    margin: 16px 0 0 0;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #FBFBFB;
}

/* ======== *END* FEATURES STYLE ======== */



/* ======== ADDS STYLE ======== */

.adds {
    background-image: url("../img/adds-background.jpg");
    display: flex;
}

.adds-comment {
    padding: 97px 210px 126px 230px;
    box-sizing: border-box;
    background: rgba(244, 244, 244, 0.7);
}

.adds-comment-avatar {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto;
    border-radius: 50%;
    background: url("../img/comment-avatar.jpg");
}

.adds-comment-txt {
    text-align: center;
    font-size: 20px;
    color: #222224;
}

.adds-subscribe {
    padding: 150px 300px 150px 117px;
    background: rgba(244, 244, 244, 0.7);
}

.adds-subscribe-title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}

.adds-subscribe-txt {
    display: block;
    margin: 12px 0 0 0;
    font-size: 18px;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}

.adds-subscribe-form {
    display: flex;
    margin: 28px 0 0 0;
}

.subscribe-form-email {
    width: 256px;
    height: 50px;
    border-radius: 26px 0 0 26px;
    border: 1px solid #E1E1E1;
    padding: 0 0 0 25px;
}

.subscribe-form-btn {
    width: 100px;
    height: 50px;
    border-radius: 0 26px 26px 0;
    border: 1px solid #D73C3C;
    padding: 0 0 0 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #E05C6E;
    color: #FFFFFF;
    outline: none;
}

.subscribe-form-btn:hover {
    background: #ccc;
    color: #222224;
    font-weight: 700;
}

.subscribe-form-btn:active {
    box-shadow: none;
    background: #FFFFFF;
}

/* ======== *END* ADDS STYLE ======== */



/* ======== FOOTER STYLE ======== */

.page-footer {
    padding: 24px 230px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer-rights {
    margin: 0;
    font-size: 16px;
    color: #FBFBFB;
    text-transform: capitalize;
}

.page-footer-socials {
    display: flex;
}

.page-footer-socials-link {
    margin: 0 8px 0 0;
    width: 32px;
    height: 32px;
}

.page-footer-socials-link:last-child {
    margin: 0;
}

.page-footer-socials-link:hover .page-footer-socials-background {
    fill: #F16D7F;
}

.page-footer-socials-link:hover .page-footer-socials-ico {
    fill: #FFFFFF;
}

.page-footer-socials-link:active .page-footer-socials-ico {
    fill: #222;
}

/* ======== *END* FOOTER STYLE ======== */


