$padding-site: 230px;
$site-width: 1600px;
$media-width-small-desktop: 1400px;
$media-width-1: $media-width-small-desktop;
$media-width-tablet: 1200px;
$width-tablet: 768px;
$media-width-phone: 740px;
$width-phone: 375px;

