@import "fonts";
@import "variables";
@import "mixins";

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  margin: 0;
}

.container {
  width: $width;
  margin: 0 auto;
}



/* ====== HEADER STYLE ====== */

.page-header {
  width: 100%;
  box-sizing: border-box;
  background-color: #F1E4E6;

  &-wrp {
    padding: 18px $padding-site;
    background-color: #222222;
    display: flex;
    align-items: center;
  }

  &-logo {
    margin: 0 41px 0 0;
  }

  &-search {
    flex-grow: 2;
    display: flex;
  }

  &-search-switcher {
    display: none;

    &:checked ~ .page-header-search-input {
      display: block;
    }
  }

  &-search-ico {
    display: block;
    margin: 0 20px 0 0;
    fill: white;
    width: 28px;
    height: 27px;
    padding: 0;

    &:hover {
      fill: #F16D7F;
    }

    &:active {
      fill: greenyellow;
    }
  }

  &-search-input {
    display: none;
    width: 80%;
  }

  &-btn-wrp {
    display: flex;
    align-items: center;
    & button {
      margin: 0 30px 0 0;
      padding: 3px;
      background-color: transparent;
      border: none;
      fill: white;

      & svg {
        display: block;
      }

      &:last-child {
        margin: 0;
      }

      &:hover {
        fill: #F16D7F;
      }

      &:hover .page-header-basket-ico-number {
        fill: white;
      }

      &:active {
        fill: greenyellow;
      }
    }
  }

  &-basket-ico-circle {
    fill: #F16D7F;
  }

  &-banner {
    padding: 60px $padding-site;

    &-title {
      font-weight: 400;
      font-size: 24px;
      color: #F16D7F;
      text-transform: uppercase;
    }
  }
}

/* ====== *END* HEADER STYLE ====== */



/* ====== CART STYLE ====== */

.cart {
  padding: 96px $padding-site;
  display: flex;
  justify-content: space-between;
  //flex-wrap: wrap;
  &-product {

    &-items {
      display: flex;
      flex-wrap: wrap;
      //width: 652px;
      text-decoration: none;
      margin: 40px 0 0 0;
      box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

      &:first-child {
        margin: 0;
      }

      &-img {
        display: block;
        //@include border;
      }

      &-description {
        width: 390px;
        box-sizing: border-box;
        padding: 23px 97px 22px 31px;
        position: relative;
        font-weight: 400;
        font-size: 22px;
        color: #575757;
        text-transform: capitalize;

        &-heading {
          display: block;
          text-decoration: none;
          font-size: 24px;
          color: #222222;
          text-transform: uppercase;

          &:hover {
            color: #F16D7F;
            text-decoration: underline solid #F16D7F;
          }

          & span {
            display: block;
          }
        }

        &-price {
          display: block;
          margin: 42px 0 0 0;

          &-value {
            margin: 0 0 0 5px;
            color: #EF5B70;
          }
        }

        &-color {
          display: block;
          margin: 6px 0 0 0;

          &-value {
            margin: 0 0 0 5px;
            color: #6F6E6E;
          }
        }

        &-size {
          display: block;
          margin: 6px 0 0 0;

          &-value {
            margin: 0 0 0 5px;
            color: #6F6E6E;
            text-transform: uppercase;

          }
        }

        &-quantity {
          display: flex;
          margin: 6px 0 0 0;
          align-items: center;

          &-value {
            width: 3em;
            padding: 0 0 0 13px;
            margin: 0 0 0 30px;
            color: #6F6E6E;
            text-align: center;
            box-sizing: border-box;
            font-size: 18px;
            border: 1px solid #EAEAEA;

            &:focus {
              outline: #DADADA auto 1px;
            }
          }
        }

        &-delete {
          background-color: transparent;
          display: block;
          width: 22px;
          height: 22px;
          box-sizing: border-box;
          position: absolute;
          top: 28px;
          right: 22px;
          padding: 2px;
          fill: #575757;
          border: none;

          &:hover {
            @include hover;
            fill: white;
          }

          &:active {
            @include active;
          }

          &:focus {
            @include focus;
          }
        }
      }
    }

    &-wrp {
      margin: 71px 0 0 0;
      display: flex;
      justify-content: space-between;
    }

    &-btn {
      padding: 17px 40px;
      font-weight: 300;
      font-size: 14px;
      color: #000000;
      text-transform: uppercase;
      background-color: #fff;
      border: 1px solid #A4A4A4;

      &:hover {
        @include hover;
        color: white;
      }

      &:active {
        @include active;
      }

      &:focus {
        @include focus;
      }
    }
  }


  &-info {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    align-content: flex-start;

    &-shipping {
      width: 100%;
      &-txt {
        display: block;
        font-weight: 300;
        font-size: 16px;
        color: #222222;
        text-transform: uppercase;
      }

      &-input {
        display: block;
        margin: 20px 0 0 0;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #A4A4A4;
        border-radius: 0;
        padding: 15px 17px;
        height: 45px;
        font-weight: 300;
        font-size: 13px;
        color: #222222;

        &:focus {
          outline: #F16D7F auto 1px;
        }
      }

      &-request {
        display: block;
        margin: 23px 0 0 0;
        padding: 10px 15px;
        border: 1px solid #A4A4A4;
        text-transform: uppercase;
        background-color: #fff;
        font-weight: 300;
        font-size: 11px;
        color: #4A4A4A;

        &:hover {
          @include hover;
          color: white;
        }

        &:active {
         @include active;
        }

        &:focus {
          @include focus;
        }
      }

    }

    &-cost {
      box-sizing: border-box;
      margin: 57px 0 0 0;
      padding: 40px;
      width: 100%;
      background-color: #F5F3F3;

      &-summary {
        display: block;
        font-weight: 400;
        font-size: 11px;
        color: #4A4A4A;
        text-transform: uppercase;
        text-align: right;

        &-value {
          margin: 0 0 0 2em;
        }
      }

      &-total {
        display: block;
        margin: 12px 0 0 0;
        font-weight: 300;
        font-size: 16px;
        color: #222222;
        text-transform: uppercase;
        text-align: right;

        &:after {
          content: '';
          display: block;
          margin: 20px 0;
          width: 100%;
          height: 1px;
          background-color: #E2E2E2;
        }

        &-value {
          margin: 0 0 0 2em;
          font-weight: 700;
          color: #F16D7F;
        }
      }

      &-checkout {
        display: block;
        width: 100%;
        padding: 15px 38px;
        box-sizing: border-box;
        border: none;
        background-color: #F16D7F;
        font-weight: 300;
        font-size: 16px;
        color: #FFFFFF;
        text-transform: uppercase;

        &:hover {
          @include hover;
        }

        &:active {
          @include active;
        }

        &:focus {
          outline: #b02a37 auto 1px;
        }
      }
    }
  }
}

/* ====== *END* CART STYLE ====== */



/* ====== ADDS STYLE ====== */

.adds {
  display: flex;
  background-image: url(../img/cart/adds-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &-comment {
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 97px $padding-site;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.7);

    &-avatar {
      display: block;
      margin: 0 0 30px 0;
      width: 96px;
      height: 96px;
      background-image: url(../img/cart/comment-avatar.jpg);
      border-radius: 50%;
    }

    &-txt {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #222224;
    }
  }

  &-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(244, 244, 244, 0.7);
    box-sizing: border-box;
    padding: 155px 0 156px 0;

    &-title {
      display: block;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #222224;
      text-transform: uppercase;
    }

    &-txt {
      display: block;
      margin: 0.5em 0 0 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #222224;
      text-transform: uppercase;
    }

    &-form {
      width: 356px;
      display: flex;
      justify-content: center;
      margin: 27px 0 0 0;

      &-email {
        display: block;
        padding: 12px 22px;
        border: none;
        border-radius: 25px 0 0 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        color: #222224;
        background-color: #E1E1E1;


        &:focus {
          outline: #F16D7F auto 1px;
          border-radius: 0;
        }
      }

      &-btn {
        display: block;
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        background-color: #F16D7F;
        border: none;
        border-radius: 0 25px 25px 0;

        &:hover {
          @include hover
        }

        &:active {
          @include active;
          border-radius: 0;
        }
      }
    }
  }
}

/* ====== *END* ADDS STYLE ====== */



/* ====== FOOTER STYLE ====== */

.page-footer {
  padding: 24px $padding-site;
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-rights {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
  }

  &-socials {
    display: flex;

    &-link {
      display: block;
      width: 32px;
      height: 32px;
      margin: 0 8px 0 0;

      &:last-child {
        margin: 0;
      }

      &:hover .page-footer-socials-background {
        fill: #F16D7F;
      }

      &:hover .page-footer-socials-ico {
        fill: white;
      }

      &:active .page-footer-socials-background {
        fill: #b02a37;
      }
    }

    &-background {
      fill: white;
    }

    &-ico {
      fill: black;
    }
  }
}

/* ====== *END* FOOTER STYLE ====== */